<div class="question">
    <div>
        <div class="question-image">
            avatar
        </div>
        <div class="likes-box">
            <div class="likes-number">5</div>
            <div class="triangle-buttons">
                <button class="triangle-up" aria-label="Вверх"></button>
                <button class="triangle-down" aria-label="Вниз"></button>
            </div>                                
        </div>
    </div>
    <div>
        <div class="question-title"> 
                <a href="#" class="my-url">{{ answer.title }}</a>
            <p class="question-text">
                {{ answer.text }}
            </p>
        </div>
        <div class="bottom-info">
            <div>
                <h3>
                    <input type="checkbox" class="big-checkbox"> Correct!
                </h3>
            </div>
        </div>
    </div>
</div>