{% extends 'base.html' %}
{% load static %}

{% block user %}
    {% include 'questions/partials/user_reg.html' %}
{% endblock %}

{% block content %}
    <div class="question-nav">
        <h1>Log In</h1>
    </div>
    <div style="color: brown;">
        <h4>Sorry, wrong password!</h4>
    </div>
    <div class="your-question-structure">
        <div class="your-text-line">
            <div class="label">Login</div>
            <input type="text" class="your-question-title" placeholder="Enter your login here"></input>
        </div>
        
        <div class="your-text-line">
            <div class="label">Password</div>
            <input type="text" class="your-question-title" placeholder="*********"></input>
        </div>
        

        
        <div class="your-text-line">
            <div class="label"></div>
            <button class="your-question-button">Log in!</button>
        </div>

        <div class="your-text-line">
            <div class="label"></div>
            <a class="my-url" href="{% url 'core:signup' %}">create new account</a>
        </div>

        
    </div>
{% endblock %}

    