{% extends 'base.html' %}
{% load static %}


{% block user %}
                <div class="image-caption-box">
                    <img src="static/img/avatar-default.png" alt="Аватар">
                    <div class="caption">Avatar</div>
                </div>
                <div class="user-section">
                    <span class="username">Dr. Pepper</span> 
                    <div class="auth-buttons">
                        <a class="btn-template" href="#">settings</a>  
                        <a class="btn-template" href="#">log in</a>
                    </div>
                    
                </div>
{% endblock %}


{% block content %}
    <nav class="question-nav">
        <h1>Tag: bender</h1>
    </nav>


    {% for question in questions %}
        <div class="question">
            <div>
                <div class="question-image">
                    avatar
                </div>
                <div class="likes-box">
                    <div class="likes-number">5</div>
                    <div class="triangle-buttons">
                        <button class="triangle-up" aria-label="Вверх"></button>
                        <button class="triangle-down" aria-label="Вниз"></button>
                    </div>                                
                </div>
            </div>
            <div>
                <div class="question-title"> 
                        <a href="#" class="my-url">How to build a moon park ?</a>
                    <p class="question-text">
                        Guys, i have trouble with a moon park.
                        Can't find the black-jack...
                    </p>
                </div>
                <div class="bottom-info">
                    <div>
                        <a href="#" class="my-url">answer(3)</a>
                    </div>
                    <div>
                        <p>
                        Tags: <a href="#" class="my-url">bender </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {% include 'questions/partials/pagination.html' %}

{% endblock %}